body {
  margin: 0px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/* .taskContainer{
  border: 1px solid black;
} */
.taskRow {
  display: flex;
  padding: 0 25px;
  justify-content: space-between;
  width: 500px;
  max-width: 100%;
  margin: auto;
}

.taskColumn {
  padding: 5px;
  display: flex;
  align-items: center;
}
.deleteBtn {
  padding: 10px 18px;
  border-radius: 5px;
  font-size: 24px;
  background-color: #faf718;
  color: black;
  cursor: pointer;
}
#todoItem{
    text-decoration: line-through;
    background-color: blue;
}
